<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Search</title>
</head>
<body>
  <h1>Search</h1>
    
  <form action="/result/">
    카테고리: 
    <input type="radio" name="categories" value="농구">농구
    <input type="radio" name="categories" value="축구">축구
    <input type="radio" name="categories" value="야구">야구
    <br>
    검 색 어 : <input type="text" name="query">
    <button type="submit">검색하기</button>
  </form>
  
</body>
</html>